body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1b193a;
    color: #ffc15e;
}
form{
    display: flex;
    justify-content: center;
}
.form-row{
    text-align: right;
}
.spacer{
    margin: 10px;
}