body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkred;
    color: white;
}
.capsule{
    width: 90%;
    margin: auto;
    background-color: rgb(0, 0, 0);
}
footer{
    background-color: crimson;
    text-align: center;
}
.mainsides{
    display: flex;
    width: 100%;
    background-color: black;
}
main{
    margin: auto;
}
header{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.aside{
    border: rgb(0, 0, 0) 1px solid;
}
.aside table{
    border: thin solid white;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}
.cell{
    padding: 20px 0px;
}
.aside td, th{
    border: 1px white solid;
}
header h1{
    margin: 0;
}
main h1{
    margin: 5px;
    text-align: center;
}
.cell, .cellx{
    color: black;
}
.cell:hover, .cellx:hover{
    color: crimson;
}
nav a{
    margin: 30px;
}
.form-row, .check-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0px;
    text-align: right;
    text-align: left;
}
.form-row label{
    width: 100px;
}
.form-row input:not([type='submit']), .form-row select, .form-row textarea{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid black;

}
.form-row input:not([type='submit']):focus, .form-row select:not([type='submit']):focus, .form-row textarea:not([type='submit']):focus{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid black;
}
.form-row input[type='submit']{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 1px white;
}
.spacer{
    width: 100px;
}
input, textarea, select{
    color: crimson;
}
fieldset{
    background-color: rgb(0, 0, 0);
    width: 50%;
    margin: auto;
    border-radius: 10px;
}
legend{
    border: 1px rgb(255, 255, 255) solid;
    background-color: crimson;
    padding: 10px;
    border-radius: 10px;
}
@media ONLY screen AND (max-width: 710px){
    .mainsides{
        display: flex;
        flex-direction: column;
    }
    .aside table{
        width: 100%;
    }
    .form-row, .check-row{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 5px 0px;
        text-align: right;
        text-align: left;
    }
}