body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(230, 224, 173);
    color: rgb(50, 50, 50);
}
.form-row, .check-row{
    display: flex;
    gap: 10px;
    margin: 5px 0px;
    text-align: right;
}
.form-row label{
    width: 100px;
}
.form-row input:not([type='submit']), .form-row select, .form-row textarea{
    padding: 5px;
    background-color: rgb(230,224,173);
    border-radius: 5px;
    border: 1px solid black;
}
.form-row input:not([type='submit']):focus, .form-row select:not([type='submit']):focus, .form-row textarea:not([type='submit']):focus{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid black;
}
.form-row input[type='submit']{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.spacer{
    width: 100px;
}
input{
    color: rgb(50,50,50);
}
fieldset{
    background-color: rgb(117, 208, 166);
    width: 80%;
    margin: auto;
    border-radius: 20px;
}
legend{
    border: 1px black solid;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
@media ONLY screen AND (max-width: 480px){
    .form-row, .check-row{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}