body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(216, 254, 255);
    color: navy;
    margin: 0;
}

.mainside{
    display: flex;
}
nav{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: navy;
}
h1{
    margin: 0;
}
nav a{
    display: block;
    padding: 10px;
    color: white;
    background-color: rgb(79, 79, 255);
    text-decoration: none;
    border: black solid 1px;
    width: 100%
}
header h1{
    background-color: rgb(184, 235, 255);
    padding: 10px;
    margin: 0;
}
nav a:hover{
    text-decoration: underline;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
.sidebar{
    width: 120px;
    flex-shrink: 0;
    margin: 10px;
    background-color: rgb(184, 235, 255);
}
.card img{
    width: 100%;
}
.card{
    border: black solid 1px;
    width: 120px;
    box-shadow: 3px 3px 3px black;
    margin: 10px;
    background-color: white;
}
.cardtainer{
    display: flex;
    flex-flow: row wrap;
}
@media ONLY screen AND (max-width: 400px){
    body{
        background-color: white;
        margin: 5px;
    }
    nav{
        flex-direction: column;
    }
    .mainside{
        flex-direction: column-reverse;
    }
    .sidebar{
        width: 100%
    }
}