body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url("beige.jpg") repeat rgb(250,250,210);
    color: purple;
    font-size: 12pt;
}
header{
    background: url(hummingbird.png) no-repeat top right;
}
.dot{
    list-style-image: url(dot.png);
}
.other{
    background-image: url("beige.jpg");
    background: repeat;
    background-color: lightgoldenrodyellow;
}