body{
    background-color: #b9b59f;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    background-color: #314837;
    color: white;
    width: 90%;
    margin: auto;
}
header{
    background-color: #152c18;
}
header h1{
    margin: 5px 0px;
    text-align: center;
}

.tableScroll{
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    border: thin solid #bf9f4c;
    margin: 5px;
}
table{
    min-width: 100%;
    border-collapse: collapse;
    border: #bf9f4c thin solid;
    text-align: center;
}
table th, td{
    border: #bf9f4c thin solid;
}
table tr:nth-child(odd){
    background-color: #b9b59f;
    color: #152c18;
}
table tr:nth-child(even){
    background-color: #314837;
    color: white;
}

form{
    color: white;
    text-align: left;
    width: 100%;
    background-color: #6f634d;
}
.spacer{
    margin: 5px;
}
.form-row{
    color: white;
    width: 0px;
}
input, textarea{
    width: 150px;
    background-color: #b9b59f;
    color: #152c18;
}
::placeholder{
    color: #152c18;
}
legend{
    color: white;
}
.mainside{
    display: flex;
    margin: 10px 0px;
}
aside{
    margin: 0px 10px 0px 0px;
    padding: 0px 5px;
    background-color: #6f634d;
    width: 20%;
    text-align: center;
    border: 1px #bf9f4c solid;
}
.arloHome{
    position: absolute;
    top: 43px;
    left: 50%;
}
aside h2{
    margin: 3px 0px;
}
nav{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
nav a{
    color: white;
    text-decoration: none;
    background-color: #152c18;
    border: thin solid #bf9f4c;
    width: 100%;
    margin: 3px 0px;
}
.current{
    background-color: #b9b59f;
    color: #152c18;
}
nav a:hover{
    background-color: #b9b59f;
    color: #152c18;
    text-decoration: underline;
}
main{
    width: 80%;
    margin: 0px 10px 0px 10px;
}
main h1{
    text-decoration: underline #bf9f4c;
    border: #bf9f4c solid thin;
    padding: 3px;
}
.landing{
    margin: 100px 0px 0px 0px;
}
.intro{
    padding: 0px 5px;
}
.card{
    display: flex;
    border: thin solid #bf9f4c;
    width: 90%;
    margin: 5px;
}
.card h2{
    text-decoration: underline #bf9f4c;
}
.card p, h2{
    margin: 10px;
}
footer{
    text-align: center;
    border: #6f634d 1px;
    border-style: outset;
    color: #b9b59f;
    background-color: #152c18;
}
footer p{
    margin: 0;
}
.sidebyside{
    display: flex;
        flex-wrap: wrap;
}
.musicCard{
    display: flex;
    flex-direction: column;
    border: thin solid #bf9f4c;
    width: 200px;
    margin: 5px;
}
.musicCard p, h2{
    margin: 10px;
}
.musicCard h2{
    text-decoration: underline #bf9f4c;
}
.gameCard, .artCard{
    display: flex;
    flex-direction: row;
    border: thin solid #bf9f4c;
    width: auto;
    margin: 5px;
}
.artCard p{
    margin: 10px;
}







@media ONLY screen AND (max-width: 1080px) AND (min-width: 500px){
    form{
        display: none;
    }
    aside h3{
        display: none;
    }
    .artCard{
        flex-direction: column;
    }
}
@media ONLY screen AND (max-width: 500px){
    .container{
        width: 100%;
        margin: 0;
    }
    body{
        width: 100%;
        margin: 0;
    }
    .arloHome{
        display: none;
    }
    .mainside{
        flex-direction: column-reverse;
    }
    aside{
        width: 95%;
        margin: auto;
    }
    main{
        margin: auto;
        width: 90%;
    }
    main h1{
        margin: 10px 0px;
    }
    .artCard{
        flex-direction: column;
    }
}